*{
  margin:0;
}
body {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

header {
  background: #d32f2f;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_container{
  margin: 0 15px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

input[type="file"] {
  margin: 10px;
  padding: 10px;
  border: 2px solid #d32f2f; 
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 250px; 
  text-align: center;
}

button {
  background-color: #ffcc00; 
  color: #d32f2f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 250px; 
}

button:hover {
  background-color: #ffdb4d;
}

.download-btn {
  display: none;
}

.download-btn.show {
  display: inline-block;
  
}

.table-container {
  margin: 20px;
  overflow-x: auto;
  padding: 0 20px;
}

.table-wrapper{
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* 📌 Table Row Hover Effect */
table tbody tr:hover {
  background-color: #fff9c4; /* Light yellow on hover */
}

th, td {
  border: 1px solid #ffcc00;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ffcc00;
  color: #d32f2f;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
  padding: 3px 8px; 
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  width: 60px; 
  height: 25px; 
  text-align: center;
}

.edit-btn:hover {
  background-color: #45a049;
}

.edit-btn-email {
  background-color: #f9b807;
  color: black;
  padding: 3px 8px; 
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  width: 80px; 
  height: 25px; 
}

.anomaly_type{
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.modal-content > input{
  font-size: 16px;
  margin: 15px 0;
  padding:10px;
}

.button-container{
  display: inline;
}

.button-container > button{
  margin: 10px;
}